<div class="space-top">
<h1>Add a Dose for <%= @cocktail.name %></h1>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "Add ingredient", class: "btn btn-primary" %>
<% end %>
</div>
